/* styleSheet.js
 * minor programming
 *
 * styling full page and all visualizations
 * by: mannus schomaker 10591664
 * 
 */

.toolTip {
  position: absolute;
  display: none;
  min-width: 80px;
  height: auto;
  background: none repeat scroll 0 0 #ffffff;
  border: 1px solid #6F257F;
  padding: 14px;
  text-align: center;
}

body {
  font-family: 'Josefin Slab', serif;
}

.row {
  background-color: #edf2f0;
}

.infoText, #flip, #flip2{
  padding: 5px;
  text-align: center;
  color: #fff1ee;
  background-color: #6F5C4A;
  border: solid 3px #FEDCD2;
  font-size: 16px;

}

.infoText {
  padding: 30px;
  display: none;
}

input {
  padding: 5px;
  text-align: center;
  color: #fff1ee;
  background-color: #6F5C4A;
  border: solid 1px #FEDCD2;
  font-size: 14px;
}


.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}
  
/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
  
.carousel-inner img {
    width: 100%; 
    margin: auto;
    min-height:200px;
}

#graph2 svg g g path.domain {
    visibility:  hidden;
}



/* styling scale for line graph */
.axis--grid .domain {
  fill: #ddd;
  stroke: none;
}

.axis--x .domain,
.axis--grid .tick line {
  stroke: #fff;
}

.axis--grid .tick--minor line {
  stroke-opacity: .7;
}


/*  styling for sunburst*/
.slice {
  cursor: pointer;
}

.slice .main-arc {
  stroke: #fff;
  stroke-width: 1px;
}

.slice .hidden-arc {
  fill: none;
}

.slice text {
  pointer-events: none;
  dominant-baseline: middle;
  text-anchor: middle;
  font-size: 25px;
  font-weight: bold;
}

/* styling for force graph */
.node circle {
  cursor: pointer;
  stroke: #3182bd;
  stroke-width: 1.5px;
}

.node text {
  font-size: 11px;
  pointer-events: none;
  text-anchor: middle;
}

line.link {
  fill: none;
  stroke: #9ecae1;
  stroke-width: 1.5px;
}

.tick line{
  opacity: 0.2;
}


